@import url(/src/global.module.css);
.Nav {
  display: flex;
  flex-direction: column;
  flex-basis: inherit;
  position: relative;
  align-items: flex-end;
}
.fixedNav {
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  overflow-y: scroll;
}
.fixedNav::-webkit-scrollbar {
  display: none;
}
.fixedNavItem0 {
  display: flex;
  flex-direction: column;
}
.fixedNavItem0 ul {
  list-style: none;
  padding: 5px;
  display: flex;
  flex-direction: column;
  flex-basis: 275px;
}
.fixedNavItem0 ul li {
  display: flex;
  justify-content: stretch;
  align-items: center;
}
.fixedNavItem0 > ul > li > button,
.fixedNavItem0 > ul > li > a {
  all: unset;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
.fixedNavItem0 > ul > li > button > span,
.fixedNavItem0 > ul > li > a > span {
  align-self: center;
}
.fixedNavItem0 ul li > button:not([data-type="tweet"]) > svg,
.fixedNavItem0 ul li > a > svg {
  margin-right: 5px;
}
.fixedNavItem0 ul li > button[data-type="tweet"] {
  all: unset;
  width: 225px;
  background-color: var(--accent-color);
  height: 53px;
  border-radius: 30px;
  text-align: center;
  /* font-size: x-large; */
  font-weight: 900;
  color: #fff;
  margin: 10px;
}
@media screen and (max-width: 1392px) {
  div.fixedNavItem0 > ul > li > button > span,
  div.fixedNavItem0 > ul > li > a > span {
    display: none;
  }
  .fixedNavItem0 ul li > button[data-type="tweet"] {
    width: 48px;
    border-radius: 50%;
  }
  .fixedNavItem ul li > span:nth-of-type(1),
  .fixedNavItem ul li > span:nth-of-type(2),
  .fixedNavItem ul svg:nth-of-type(2) {
    display: none;
  }
  #dots > svg {
    display: none;
  }
}
.fixedNavItem0 ul > li:not(:last-child, :first-child) > a:hover,
.fixedNavItem0 ul > li:not(:last-child, :first-child) > button:hover,
.fixedNavItem:hover {
  background-color: var(--default);
  border-radius: 30px;
}
.fixedNavItem0 ul > li:first-child > a:hover {
  background-color: rgba(29, 155, 240, 0.1);
  border-radius: 50%;
}
ul > li > a:hover,
ul > li > button:hover {
  cursor: pointer;
}
html[data-theme="default"] ul li > a.active > svg,
html[data-theme="default"] ul li > button.active > svg {
  fill: #000000;
}
html[data-theme="dark"] ul li > a.active > svg,
html[data-theme="dark"] ul li > button.active > svg {
  fill: #ffffff;
}
html[data-theme="default"] ul > li > a.active > span,
html[data-theme="default"] ul > li > button.active > span {
  font-size: larger;
  font-weight: 900;
}
.fixedNavItem {
  display: flex;
  /* justify-content: center; */
  align-items: center;
}
.fixedNavItem > ul {
  display: flex;
  flex-basis: 100%;
}
.fixedNavItem ul > li {
  display: flex;
  flex-basis: inherit;
  justify-content: center;
  align-items: center;
  padding: 5px;
}
.fixedNavItem ul li > span {
  flex-grow: 1;
  display: flex;
  /* align-items: center; */
  flex-direction: column;
}
