@import url(/src/global.module.css);

.container {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  overflow: scroll;
}
.content {
  display: flex;
  height: inherit;
  width: inherit;
  flex-direction: column;
  flex-basis: 100%;
}
.content-body {
  display: flex;
  width: inherit;
  flex-grow: 3;
}
.body-images {
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  flex-shrink: 2;
  flex-grow: 1;
}
.content-body .body-images > img {
  z-index: -1;
  width: 100%;
  height: 100%;
  position: absolute;
}
.body-main {
  display: flex;
  flex-shrink: 0;
  width: 700px;
}
@media screen and (max-width: 1052px) {
  .content-body {
    flex-direction: column;
    align-items: center;
  }
  .body-main {
    /* align-self: center; */
    width: unset;
    order: 1;
  }
  .body-images {
    width: 100%;
    order: 2;
  }
  .body-images > img {
    max-height: 200px;
  }
  .body-main {
    min-height: calc(100% - 200px);
  }
}
.footer {
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-around;
}
.footer-content {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.footer-content > span {
  margin-right: 10px;
  opacity: 0.6;
}
.footer-content > span:not(:last-child):hover {
  text-decoration: underline;
  cursor: pointer;
}
.card {
  display: flex;
  margin-left: 20px;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-right: 40px;
  flex-basis: 100%;
  flex-direction: column;
}
.card-icon {
  margin-bottom: 40px;
}
.card-text {
  display: flex;
  flex-direction: column;
}
.card-text > span:nth-child(1) {
  margin-bottom: 40px;
}
.card-text > span:nth-child(1) > b {
  font-size: 75px;
}
.card-text > span:nth-child(2) {
  margin-bottom: 20px;
}
.card-text > span:nth-child(2) > b {
  font-size: 36px;
}
@media screen and (max-width: 412px) {
  .body-main > .card {
    margin-right: 0px;
    margin-top: 0px;
    margin-left: 0px;
  }
  .body-main {
    width: 100%;
  }
  .card-text > span:nth-child(1) > b {
    font-size: 50px;
  }
}
.card-btns {
  width: 292.26px;
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}
.card-btns > button {
  width: 100%;
  height: 43px;
  border-radius: 30px;
  background-color: inherit;
  border: 1px solid var(--default-border);
  vertical-align: middle;
  margin-bottom: 15px;
  cursor: pointer;
  font-weight: 600;
}
.card-btns > button > svg {
  width: 18px;
  height: 18px;
  margin-right: 5px;
  vertical-align: middle;
}
.card-btns > button:hover {
  background-color: var(--default);
}
.card-btns > span > button {
  all: unset;
  color: #1d9bf0;
  cursor: pointer;
}
