@import url(/src/global.module.css);

.container {
  position: fixed;
  bottom: 63px;
  width: 54px;
  height: 52px;
  right: 10px;
  z-index: 1;
}
.container > button {
  width: inherit;
  height: inherit;
  background-color: var(--accent-color);
  text-align: center;
  border-radius: 50%;
}
.container > button > svg {
  fill: #fff;
  width: 24px;
  height: 24px;
}
