@import url(/src/global.module.css);
.tweet-card {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid var(--default-border);
  padding-left: 5px;
  padding-right: 5px;
}
.tweet-card:hover {
  background-color: var(--default);
  cursor: pointer;
}
.tweet-card .tweet-top {
  display: flex;
  margin-left: 26px;
}
.tweet-card .tweet-top:hover > * {
  text-decoration: underline;
}
.tweet-card .tweet-body {
  display: flex;
  flex-grow: 2;
}
.tweet-card .tweet-body .tweet-body-left {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.tweet-card .tweet-body .tweet-body-left .tweet-body-left-dp {
  display: flex;
  justify-content: center;
  align-items: center;
}
.tweet-card .tweet-body .tweet-body-left .tweet-body-left-dp svg {
  border-radius: 50%;
}
.tweet-card .tweet-body .tweet-body-left .tweet-body-left-line {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 3px;
  background-color: var(--default);
}
.tweet-card .tweet-body .tweet-body-main {
  display: flex;
  flex-grow: 2;
  flex-direction: column;
  margin-left: 5px;
}
.tweet-card .tweet-body .tweet-body-main .tweet-body-main-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tweet-card
  .tweet-body
  .tweet-body-main
  .tweet-body-main-info
  .tweet-body-main-info-user
  span[data-name] {
  font-weight: 700;
  cursor: pointer;
  margin-right: 5px;
}
.tweet-card
  .tweet-body
  .tweet-body-main
  .tweet-body-main-info
  .tweet-body-main-info-user
  span[data-name]:hover {
  text-decoration: underline;
}
.tweet-card
  .tweet-body
  .tweet-body-main
  .tweet-body-main-info
  .tweet-body-main-info-user
  span[muted-text]::after {
  content: " . ";
}
html[data-theme="default"] .tweet-body-main-info-dots {
  fill: #000;
  padding: 10px;
}
html[data-theme="dark"] .tweet-body-main-info-dots {
  fill: #fff;
  padding: 10px;
}
html[data-theme] svg.tweet-body-main-info-dots:hover {
  background-color: rgba(29, 155, 240, 0.1);
  border-radius: 50%;
}
.tweet-card .tweet-body .tweet-body-main .tweet-body-main-body {
  display: block;
  align-self: flex-start;
  flex-grow: 2;
  justify-self: center;
  margin-top: 5px;
  margin-bottom: 5px;
}
.tweet-card .tweet-body .tweet-body-main .tweet-body-main-engage {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
  padding-right: 20px;
}
.tweet-body-main-engage > .btn-group {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 20px;
}
.tweet-body-main-engage > .btn-group:hover {
  cursor: pointer;
}
.tweet-body-main-engage > .btn-group > svg {
  width: 18.75px;
  height: 18.75px;
  align-items: center;
  align-self: center;
  padding: 5px;
}
.tweet-body-main-engage > .btn-group:hover > svg {
  background-color: rgba(29, 155, 240, 0.1);
  fill: #1d9bf0;
  border-radius: 50%;
}
.tweet-body-main-engage > .btn-group:hover > svg[data-like] {
  fill: #f91880;
  background-color: rgba(249, 24, 128, 0.1);
}
.tweet-body-main-engage > .btn-group:hover > svg[data-rt] {
  fill: #00ba7c;
  background-color: rgba(0, 186, 124, 0.1);
}
.tweet-body-main-engage > .btn-group:hover > svg[data-tip] {
  background-color: inherit;
}
.tweet-body-main-engage > .btn-group > span {
  align-self: center;
}
.tweet-body-main-engage > .btn-group:hover > span {
  color: #1d9bf0;
}
.tweet-body-main-engage > .btn-group:hover > svg[data-rt] + span {
  color: #00ba7c;
}
.tweet-body-main-engage > .btn-group:hover > svg[data-like] + span {
  color: #f91880;
}
.tweet-body-main-engage > .btn-group:hover > svg[data-tip] + span {
  color: var(--accent-color);
}
