@import url(/src/global.module.css);
.container {
  position: absolute;
  min-width: 197.8px;
  background-color: var(--default-bg);
  border: 1px solid var(--default-border);
  z-index: 1;
  border-radius: 10px;
  box-shadow: 0px 0px 20px -7px var(--default-text);
}
@media screen and (max-width: 980px) {
  .container {
    right: 10%;
  }
}
.flexContainer {
  display: flex;
  height: inherit;
  width: inherit;
}
.row {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: inherit;
  width: inherit;
}
.col-container {
  display: flex;
  flex-direction: column;
  width: inherit;
  height: inherit;
}
.col {
  display: flex;
  flex-direction: column;
}
.col-items {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 16px;
}
.col :first-child {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
.col :last-child {
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
.col-items:hover {
  background-color: var(--default);
}
.col-items > button {
  all: unset;
}
.col-items > button > svg {
  padding-right: 12px;
}
.col-items > button > span {
  width: 100%;
}
