@import url(/src/global.module.css);
.Nav {
  display: flex;
  flex-direction: column;
  flex-basis: 350px;
  position: relative;
}
.fixedNav {
  position: fixed;
  top: 0;
  bottom: 0;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* height: 100%; */
}
.fixedNav::-webkit-scrollbar {
  display: none;
}
.fixedNavItem {
  display: flex;
  flex-direction: column;
}
.fixedNavItem ul {
  list-style: none;
  padding-top: 5px;
  padding-bottom: 5px;
  display: flex;
  flex-direction: column;
  width: 350px;
  border-radius: 10px;
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: var(--default);
}
.fixedNavItem ul li {
  margin-bottom: 5px;
}
.fixedNavItem ul:nth-of-type(1) {
  position: fixed;
  top: 0px;
  height: 50px;
  width: 336px;
  border-radius: 0px;
  z-index: 2;
  background-color: var(--default-bg);
}
.fixedNavItem ul:nth-of-type(1) li {
  align-items: center;
  width: inherit;
  height: inherit;
  display: flex;
  background-color: var(--default);
  border-radius: 10px;
}
.fixedNavItem ul:nth-of-type(1) li:focus-within {
  border: 2px solid var(--accent-color);
}
.fixedNavItem ul:nth-of-type(1) li:focus-within > span > svg {
  fill: var(--accent-color);
}
.fixedNavItem ul:nth-of-type(1) li input {
  align-self: center;
  width: 100%;
  height: inherit;
  border-radius: 10px;
}
/* .fixedNavItem ul:nth-of-type(1) li input::before {
  content: url(/src/img/search.svg);
} */

.fixedNavItem ul:nth-of-type(1) li input:focus {
  outline: none;
}
.fixedNavItem ul > li > input {
  all: unset;
  width: inherit;
}
.fixedNavItem ul:nth-of-type(2) {
  margin-top: 65px;
}
.fixedNavItem ul:nth-of-type(n) {
  margin-bottom: 12px;
}
.fixedNavItem ul:nth-of-type(n + 2) {
  position: static;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.fixedNavItem ul:nth-of-type(n + 2) li:nth-child(1) {
  padding-left: 20px;
  align-self: flex-start;
  font-weight: 900;
  font-size: 20px;
  height: 53px;
}
.fixedNavItem ul:nth-of-type(n + 2) li:nth-child(n + 2) {
  display: flex;
  padding-left: 20px;
  padding-right: 20px;
  width: calc(100% - 40px);
  max-width: calc(100% - 40px);
  height: 68px;
  align-items: center;
  text-overflow: ellipsis;
  flex-wrap: nowrap;
}
.fixedNav .fixedNavItem ul li[data-last] {
  height: 53px;
  margin-bottom: 0px;
}
.fixedNavItem ul:nth-of-type(n + 2) li:nth-child(n + 2):hover {
  background-color: var(--default-hover);
  border-radius: 10px;
}
.fixedNav .fixedNavItem ul li[data-last]:hover {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}
.story-text[data-last]:hover {
  text-decoration: underline;
}
@media screen and (min-width: 1392px) {
  .Nav {
    flex-basis: 350px;
  }
}
@media screen and (min-width: 1080px) {
  .fixedNavItem ul {
    width: 330px;
  }
}
@media screen and (max-width: 1080px) {
  .Nav {
    flex-basis: 300px;
    flex-shrink: 0;
  }
  .fixedNavItem ul {
    width: 290px;
  }
  .fixedNavItem ul:nth-of-type(1) {
    width: 290px;
  }
}
@media screen and (max-width: 980px) {
  .Nav {
    display: none;
  }
}
.story {
  display: flex;
  flex-basis: inherit;
  height: inherit;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
}
.story-text {
  display: flex;
  flex-direction: column;
  flex-grow: 3;
  align-items: flex-start;
  justify-content: center;
  padding-right: 5px;
  height: inherit;
}
.story[data-last] {
  height: fit-content;
}
.story-text[data-last] {
  height: fit-content;
  color: var(--accent-color);
  cursor: pointer;
}
.story-text span {
  max-width: 200px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  height: 68px;
}
.story-text > span:not([muted-text]):hover {
  text-decoration: underline;
  cursor: pointer;
}
.story-text span[data-main] {
  font-weight: 600;
}
.story-img {
  display: flex;
  justify-content: flex-end;
  height: inherit;
  flex-grow: 1;
  max-width: 68px;
  max-height: 68px;
}
.story-dp {
  display: flex;
  justify-self: center;
  border-radius: 50%;
  padding-left: 5px;
  padding-right: 5px;
}
.story-img img {
  border-radius: 10px;
}
.story-img:not([dots]) {
  align-items: center;
}
