@import url(/src/global.module.css);
.container {
  border: 0;
  margin: 0;
  padding: 0;
  display: flex;
  position: fixed;
  top: 0;
  height: 53px;
  /* align-items: center; */
  justify-content: center;
  border-bottom: 1px solid var(--default-border);
  border-left: 1px solid var(--default-border);
  border-right: 1px solid var(--default-border);
  background-color: var(--default-bg);
  z-index: 1;
}
.navList {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  list-style: none;
  flex-basis: 100%;
  background-color: var(--default-bg);
}
/* .navList:nth-child(1) {
} */
.navListItem {
  padding: 5px;
  background-color: var(--default-bg);
}
@media screen and (min-width: 680px) {
  .container {
    width: 598px;
  }
}
@media screen and (max-width: 680px) {
  .container {
    width: calc(100% - 80px);
  }
}
@media screen and (max-width: 500px) {
  .container {
    width: 100%;
  }
}
