@import url(../src/global.module.css);
.app {
  margin: 0;
  padding: 0;
  border: 0;
  display: flex;
  flex-basis: 100%;
  justify-content: center;
  flex-shrink: 1;
  background-color: var(--default-bg);
}
.leftNav {
  display: flex;
  flex-basis: 390px;
  justify-content: flex-end;
  /* border-left: 1px solid var(--default-border); */
}
.mainContent {
  display: flex;
  flex-basis: 990px;
  justify-content: space-between;
  background-color: var(--default-bg);
}
.content {
  display: flex;
  flex-basis: 598px;
  flex-direction: column;
  border: 1px solid var(--default-border);
  min-height: 100vh;
  margin-top: 53px;
}
.rightNav {
  /* display: flex;
  flex-basis: 350px;
  flex-direction: column; */
  border-right: 1px solid var(--default-border);
}
@media screen and (min-width: 1392px) {
  .mainContent {
    flex-shrink: 0;
  }
  .leftNav {
    flex-shrink: 1;
  }
}
@media screen and (max-width: 1392px) {
  .mainContent {
    flex-shrink: 0;
  }
  .leftNav {
    flex-basis: 77px;
    flex-shrink: 1;
  }
}
@media screen and (max-width: 1080px) {
  .mainContent {
    flex-shrink: 1;
  }
  .leftNav {
    flex-shrink: 0;
  }
  .content {
    flex-shrink: 0;
  }
}
@media screen and (max-width: 980px) {
  .mainContent {
    flex-basis: 675px;
  }
  .app {
    justify-content: center;
  }
}
@media screen and (max-width: 680px) {
  .mainContent {
    flex-basis: 100%;
  }
  .content {
    flex-basis: 100%;
  }
}
/* @media screen and (max-width: 500px) {
  .mainContent {
    flex-basis: 100%;
  }
  .content {
    flex-basis: 100%;
  }
} */
